.footer {
  background: #6a7f70;
  color: white;
  padding: 50px 40px 20px;
  margin-top: 2px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-section {
  max-width: 300px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.9;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  opacity: 0.9;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  opacity: 0.8;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 15px;
  margin-top: 30px;
}
.footer-mini-features {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.9;
}


.footer-social:hover {
  opacity: 0.8;
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.footer-social svg {
  transition: transform 0.3s ease, color 0.3s ease; /* smooth effect */
}

.footer-social svg:hover {
  transform: scale(1.3); /* zoom in */
  color: #f3e8ff; /* optional: change color on hover */
}

.footer-social svg:hover {
  transform: scale(1.3);
  color: #f3e8ff;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}